.ant-card-body > div{
    display: flex;
    flex-direction: row;
}

.ant-card-body div p{
    margin: 0 0 5px 10px;
}

.cardHeadImage {
    background-color: #f5f5f5;
    display: -webkit-flex;
    text-align: center;
}

.ant-card-actions{
    margin: 0;
    padding: 0;
    list-style: none;
    background: #fafafa;
    border-top: 1px solid #e8e8e8;
    zoom: 1;
}

.ant-card-body{
    color: rgba(0,0,0,0.65);
}